<div class="admin">
  <p-card header="Dashboard" subheader="Latest updates">
    <div class="grid">
      <div class="col-3">
        <p-card styleClass="d-order">
          <div class="item">
            <div>
              <i class="pi pi-shopping-cart"></i> <br />
              <span> Orders</span>
            </div>
            <span> 25</span>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-order">
          <div class="item">
            <div>
              <i class="pi pi-users"></i> <br />
              <span>Customers</span>
            </div>
            <span> 25</span>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-order">
          <div class="item">
            <div>
              <i class="pi pi-briefcase"></i> <br />
              <span> Products</span>
            </div>
            <span> 25</span>
          </div>
        </p-card>
      </div>

      <div class="col-3">
        <p-card styleClass="d-order">
          <div class="item">
            <div>
              <i class="pi pi-dollar"></i> <br />
              <span> Orders</span>
            </div>
            <span> {{ '25' | currency }}</span>
          </div>
        </p-card>
      </div>
    </div>
  </p-card>
</div>
