<header>
  <div class="grid">
    <div class="logo col-2">
      <img src="../../../assets/logo.png" />
    </div>
    <div class="search col-4">
      <i class="pi pi-search mr-1"></i>
      <input type="search" />
    </div>
    <div class="list col-3 col-offset-1">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="/contact">contact</a></li>
      </ul>
    </div>
    <div class="icons col-1 col-offset-1">
      <i class="pi pi-user"></i>
      <cart-icon
        style="cursor: pointer"
        class="shopping-cart animate__animated animate__wobble"
      ></cart-icon>
    </div>
  </div>
</header>
