header {
  margin-top: 5px;
  position: relative;
}

.logo img {
  display: block;
  width: 30%;
  height: auto;
}
input {
  display: block;
  border: none;
  outline: none;
  width: 100%;
  height: 2rem;
  background: transparent;
}
.list ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.list li a {
  color: black;
}
.list li a:hover {
  cursor: pointer;
  color: #fba1b7;
}

.search,
.logo,
.list,
.icons {
  margin: auto 0;
}
.icons {
  display: flex;
  gap: 0.5rem;
}
.search {
  display: flex;
  align-items: center;
  background-color: white;
  height: 1.5rem;
  border-radius: 1rem;
  width: 10%;
}
.search i {
  color: #fba1b7;
}
i .p-badge {
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 700;
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
}
.p-badge.p-badge-danger {
  background-color: #fba1b7 !important;
}

/* applying css for smaller screens */
@media screen and (max-width: 760px) {
  .list ul {
    font-size: 8px;
  }
  .list ul {
    gap: 0.3rem;
  }

  .icons i {
    font-size: 0.4rem;
  }
  .icons cart-icon i {
    font-size: 0.4rem !important;
  }
  i .p-badge {
    font-size: 0.3rem;
    font-weight: 700;
    min-width: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
  }
  .icons {
    position: absolute;
    right: 0;
    top: 10%;
    gap: 0.1rem;
  }
  .search {
    height: 0.6rem;
  }
  .search input {
    height: 0.6rem;
  }
  .search i {
    font-size: 0.4rem;
  }
}
