<div class="grid mt-2 mb-2 product-details">
  <div class="col-6 mt-2">
    <ui-gallery [images]="product.images"></ui-gallery>
  </div>
  <div class="col-6">
    <h3 class="mb-2">{{ product.name }}</h3>
    <div class="detail mb-2">
      <p>{{ product.description }}</p>
    </div>

    <div class="rating mb-2">
      <p-rating
        [(ngModel)]="product.rating"
        [cancel]="false"
        [disabled]="true"
      ></p-rating>
    </div>

    <div class="price mb-4 flex">
      <p class="mr-2" style="font-weight: bold">
        {{ product.price | currency }}
      </p>
      <span style="text-decoration: line-through; font-size: smaller">{{
        product.price + 18 | currency
      }}</span>
    </div>

    <hr />
    <div class="flex-auto mt-2 mb-1 quantity">
      <label class="mb-2 block font-bold" for="quantity">Quantity</label>
      <p-inputNumber
        [(ngModel)]="quantity"
        mode="decimal"
        [showButtons]="true"
        styleClass="p-input-number-input"
        inputId="quantity"
        [min]="0"
        [max]="product.quantity"
      >
      </p-inputNumber>
    </div>
    <span class="mb-2" style="color: green; font-size: smaller">
      Free Shipping</span
    >

    <div class="buttons mt-2 p-0">
      <p-button styleClass="p-button-rounded" class="mr-1"> Buy Now</p-button>
      <p-button styleClass="p-button-rounded" (onClick)="addItemstoCart()">
        Add To Cart
      </p-button>
    </div>
  </div>
</div>
<hr />
<div class="grid mt-2 rich-desc">
  <div class="col-12">
    <div [innerHTML]="product.richDescription"></div>
  </div>
</div>
